table, th, td {
    border: 1px solid black; 
    font-size: 60px;
}

th, td {
    padding: 16px;
}

table {
    empty-cells: show;
    width: 100%;
    border-collapse: collapse; /*removes double border*/
}

tr:nth-child(even) {   /*Zebra*/
    background-color: #f2f2f2;
  }

caption {
   border-top-style: none;
   caption-side: bottom;
   border-radius: 50%;
   font-size: 30px;
}